<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{ .ChapterTitle }}</title>
</head>
<body>

  <h1>
    {{ .Chapter.Title }}
  </h1>

  {{range .Chapter.Story}}
    <p>
      {{ . }}
    </p>
  {{end}}

  {{range .Chapter.Options}}
    <a
      href="/?arc={{.Arc}}"
      style="width: 100%; display: inline-block"
    >
      {{ .Text }}
    </a>
  {{end}}
</body>
</html>